<footer class="jumbotron jumbotron-fluid mb-0" id="jumbotron">
    <style>
        p {
            font-size: 20px;
        }

        .img_diamante {
            width: auto;
            /*height: 120px;*/
            height: 150px;
        }

        .img_ouro {
            width: auto;
            /*height: 100px;*/
            height: 120px;
        }

        .img_prata {
            width: auto;
            /*height: 80px;*/
            height: 100px;
        }

        .img_prataa {
            width: auto;
            height: 45px;
        }

        .img_prataaa {
            width: auto;
            height: 60px;
        }

        .img_bronze {
            width: auto;
            height: 90px;
        }

        @media (min-width: 768px) {
            p {
                font-size: 25px;
            }

            .img_diamante {
                width: auto;
               /*height: 120px;*/
                height: 140px;
            }

            .img_ouro {
                width: auto;
               /*height: 100px;*/
                height: 120px;
            }

            .img_prata {
                width: auto;
                /*height: 80px;*/
                height: 100px;
            }

            .img_prataa {
                width: auto;
                height: 60px;
            }

            .img_prataaa {
                width: auto;
                height: 80px;
            }

            .img_bronze {
                width: auto;
                height: 90px;
            }
        }

        .grid-container {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            /* background-color: rgba(200, 200, 200, 0.8); */
            /* gap: 2px; */
        }

        .grid-container > div {
            /* border: 1px solid rgba(0, 0, 0, 0.8); */
            text-align: center;
            padding: 20px 0;
        }

        .sbc {
            grid-column-start: 1;
            grid-column-end: 2;
        }
        .apoio {
            grid-column-start: 1;
            grid-column-end: 5;
        }
        .org {
            grid-column-start: 2;
            grid-column-end: 4;
        }
        .fomento {
            grid-column-start: 4;
            grid-column-end: 5;
        }
        .diamante {
            grid-column-start: 1;
            grid-column-end: 5;
        }
        .ouro {
            grid-column-start: 1;
            grid-column-end: 5;
        }
        .prata {
            grid-column-start: 1;
            grid-column-end: 5;
        }
    </style>
    <section>
        <div class="row">
            <div class="col-md-5 text-center">
                <b><p>Realização</p></b>
                <figure class="sbc">
                    <a href="http://www.sbc.org.br" target="_blank"><img src="img/logo-sbc-200x200.png" class="img_prata" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="http://www2.sbc.org.br/ce-acpad/" target="_blank"><img src="img/logo-ceacpad-200x200.png" class="img_prata" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="https://cradrs.github.io/" target="_blank"><img src="img/logo-cradrs-200x200.png" class="img_prata" /></a>
                </figure>
            </div>
            <div class="col-md text-center">
                <b><p>Organização</p></b>
                <figure class="org">
                    <a href="https://www.udesc.br" target="_blank"><img src="img/logo-udesc-200x200.png" class="img_diamante" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="https://www.ufsc.br" target="_blank"><img src="img/logo-ufsc-200x200.png" class="img_ouro" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="https://www.unisinos.br" target="_blank"><img src="img/logo-unisinos-200x200.png" class="img_ouro" /></a>
                </figure>
            </div>
            <div class="col-md text-center">
                <b><p>Fomento</p></b>
                <figure class="org">
                    <a href="https://www.fapesc.sc.gov.br/" target="_blank"><img src="img/logo-fapesc.png" class="img_diamante" /></a>
                </figure>
            </div>
        </div>
         <div class="row">
            <div class="col-md text-center">
                <b><p>Patrocinadores</p></b>
                <div class="row">
                    <p>Diamante</p>
                    <p>Ouro</p>
                    <p>Prata</p>
                    <p>Bronze</p>
                </div>
                </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md text-center">
                <b><p>Instituições colaboradoras</p></b>
                <figure class="org">
                    <a href="https://www.unioeste.br/" target="_blank"><img src="img/logo-unioeste-200x200.png" class="img_bronze" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="https://www.ufrgs.br/" target="_blank"><img src="img/logo-ufrgs-200x200.png" class="img_bronze" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="https://www.mackenzie.br/" target="_blank"><img src="img/logo-mackenzie-200x200.png" class="img_bronze" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="https://scherm.com.br/" target="_blank"><img src="img/logo-scherm-200x200.png" class="img_bronze" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="https://furg.br/" target="_blank"><img src="img/logo-furg-200x200.png" class="img_bronze" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                </figure>
            </div>
        </div>
