---
layout: default
title: "Home"
---

<!-- sobre -->
<section id="light-card">
    <div class="p-2 pb-5 container col-sm-12 col-lg-8 text-justify">
        <h2 class="p-4 text-center">Seja bem-vindo(a) à ERAD/RS 2027!</h2>

        <p class="lead">
            A XXVII Escola Regional de Alto Desempenho da Região Sul (ERAD/RS 2027) será realizada entre os dias 12 e 14 de maio de
            2027, no Centro de Ciências Tecnológicas (CCT) da Universidade do Estado de Santa Catarina (UDESC), em Joinville/SC. 
            A ERAD/RS é realizada anualmente pela Sociedade Brasileira de Computação (SBC), pela Comissão Especial de Arquitetura de Computadores e Processamento de Alto Desempenho (CE-ACPAD) e pela Comissão Regional de Alto Desempenho da Região Sul
            (CRAD/RS). 
        </p>
        <p class="lead">
            O público alvo da ERAD/RS 2027 são alunos, profissionais, professores e pesquisadores que atuam direta ou indiretamente na
            computação de alto desempenho e em áreas correlatas. O evento engloba os três estados da região sul do Brasil (RS, SC e PR).
        </p>
        <p class="lead">Os principais objetivos são:</p>
        <ul>
            <li>Enfatizar e consolidar os trabalhos de pesquisa de alunos, graduandos ou pós-graduandos na área de computação de alto desempenho.</li>
            <li> Fomentar a formação de projetos inovadores, tanto na pesquisa quanto no mercado, para profissionais das mesorregiões envolvidas na organização.</li>
            <li> Incentivar a mobilidade de estudantes e pesquisadores entre as instituições parceiras </li>
            <li>Promover a aproximação entre academia e indústria local com temas associados à computação de alto desempenho.</li>
            <li>Promover atividades de qualidade a estudantes das mais diversas áreas da computação.</li>
        </ul>
        <p class="lead">O evento contará com duas trilhas: pós-graduação e iniciação científica.</p>
    </div>
</section>

<!-- datas importantes -->
<section class="jumbotron jumbotron-fluid" id="dark-card">
    <div class="pb-1 container col-sm-12 col-lg-8 text-justify">
        <h2>Datas importantes</h2>
        <ul class="mt-4">
            <li>12 a 14/05/2027: Período de realização da ERAD/RS 2027.</li>
        </ul>
    </div>
</section>

<section id="sobre_sbc">
    <div class="pb-1 container col-sm-12 col-lg-8 text-justify">
        <h2>Sobre a SBC</h2>
        <p class="lead">
            A <strong>Sociedade Brasileira de Computação - SBC</strong> é uma Sociedade Científica sem fins lucrativos, fundada em
            julho de 1978, que reúne estudantes, professores, profissionais, pesquisadores e entusiastas da área da Computação e
            Informática de todo o país.
        </p>
        <p class="lead">
            A SBC tem como função fomentar o acesso à informação e cultura por meio da informática, promover a inclusão digital,
            incentivar a pesquisa e o ensino em computação no Brasil, e contribuir para a formação do profissional da computação com
            responsabilidade social.
        </p>
        <p class="lead">
            Para organização e divulgação de atividades, ações e eventos científicos, técnicos, educacionais e políticos, a SBC mantém
            uma estrutura de três tipos de Grupos Temáticos (GT), que são as Grandes Áreas (GA), as Comissões Especiais (CE) e os
            Grupos de Interesses (GI). Estes grupos reúnem associados com interesses comuns em subáreas da computação.
        </p>
        <p class="lead">
            Aqui você está acessando o site de uma das
            <strong>Comissões Especiais (CE) da SBC</strong>, que representa um grupo de associados da SBC que compartilham dos
            interesses e valores em determinada área da Computação. Associados vigentes podem se inscrever nas
            <a href="https://www.sbc.org.br/403-comissoes-especiais" target="_blank">listas de e-mail das Comissões Especiais (CE)</a>
            da área que deseja acompanhar. Se você ainda não é um associado ou deseja renovar sua associação à nossa comunidade
            <a href="https://centraldesistemas.sbc.org.br/mom" target="_blank">clique aqui</a>
            e venha fazer parte da maior e mais importante sociedade científica na área de computação da América Latina!
        </p>
    </div>
</section>

<!-- novidades -->
<!-- <section class="jumbotron jumbotron-fluid" id="dark-card">
    <div class="pb-1 container col-sm-12 col-lg-8 text-justify">
        <h2>Novidades</h2>

        {% assign news = site.data.news.news %}

        <ul class="mt-4">
            {% for news_record in news %}
            <li><b>{{ news_record.date }}</b>: {{ news_record.text }}</li>
            {% endfor %}
        </ul>
    </div>
</section> -->

<!-- footer -->
